.display .info{
    /* background-color: green; */
    position: absolute;
    top: 12%;
    left: 2.5%;
    height: 83%;
    width: 95%;
    border-bottom: 0;
    color: #f7b924;
}

.display .info .title{
    background-color: aqua;
    height: 15%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.display .info .contact{
    /* background-color: crimson; */
    position: absolute;
    height: 85%;
    top: 8%;
    left: 0;
    width: 100%;
}

.display .info .contact .contact-info{
    /* background-color: grey; */
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 50%;
}

.display .info .contact .contact-form{
    /* background-color: green; */
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 35%;
}

.display .info .contact .contact-form .name-sec-label{
    position: absolute;
    width: 60%;
    height: 10%;
    top: 1%;
    left: 0;
}

.display .info .contact .contact-form .name-sec{
    position: absolute;
    width: 60%;
    height: 10%;
    top: 5%;
    left: 0;
    font-size: 1.5rem;
}

.display .info .contact .contact-form .email-sec-label{
    position: absolute;
    width: 60%;
    height: 10%;
    top: 20%;
    left: 0;
}

.display .info .contact .contact-form .email-sec{
    position: absolute;
    width: 60%;
    height: 10%;
    top: 25%;
    left: 0;
    font-size:1.5rem ;
}

.display .info .contact .contact-form .message-sec-label{
    position: absolute;
    width: 60%;
    height: 10%;
    top: 40%;
    left: 0;
}

.display .info .contact .contact-form .message-sec{
    position: absolute;
    width: 95%;
    height: 40%;
    top: 45%;
    left: 0;
    text-align: left;
}

.display .info .contact .contact-form .send-btn{
    background-color: #f7b924;
    position: absolute;
    width: 20%;
    height: 7%;
    top: 87%;
    right: 4.5%;
    border: 0;
}

.display .info .contact .contact-form input, textarea, button{
    background-color: #D9D9D9;
    border: 0;
    border-radius: 0.2rem;
}

.display .info .contact .contact-form input, textarea, button :active{
    border: 0;
}

.display .info .contact .contact-form label{
    color: #D9D9D9;
}

.display .info .contact .contact-info p{
    color: #D9D9D9;
}

@media (max-width:380px){
    .display .info .contact{
        /* background-color: crimson; */
        position: absolute;
        height: 100%;
        top: 8%;
        left: 2.5%;
        width: 95%;
    } 

    .display .info .contact .contact-form{
        background-color: crimson;
        width: 100%;
        height: 50%;
        top: 63%;
    }
}

@media screen and (max-width: 450px){
    .display .info .contact{
        /* background-color: crimson; */
        position: absolute;
        height: 85%;
        top: 8%;
        left: 2.5%;
        width: 95%;
    }

    .display .info .contact .contact-info{
        width: 100%;
        height: 40%;
        top:0;
    }

    .display .info .contact .contact-form{
        width: 100%;
        height: 50%;
        top: 49%;
    }

    .display .info .contact .contact-form .message-sec-label{
        position: absolute;
        width: 60%;
        height: 10%;
        top: 45%;
        left: 0;
    }
    
    .display .info .contact .contact-form .message-sec{
        position: absolute;
        width: 80%;
        height: 40%;
        top: 52%;
        left: 0;
    }

    
    .display .info .contact .contact-form .email-sec-label{
        position: absolute;
        width: 60%;
        height: 10%;
        top: 22%;
        left: 0;
    }

    .display .info .contact .contact-form .email-sec{
        position: absolute;
        width: 60%;
        height: 10%;
        top: 30%;
        left: 0;
    }

    .display .info .contact .contact-form .name-sec-label{
        position: absolute;
        width: 60%;
        height: 10%;
        top: 1%;
        left: 0;
    }

    .display .info .contact .contact-form .name-sec{
        position: absolute;
        width: 60%;
        height: 10%;
        top: 8%;
        left: 0;
    }

    .display .info .contact .contact-form .send-btn{
        background-color: #f7b924;
        position: absolute;
        width: 20%;
        height: 7%;
        top: 96%;
        right: 20%;
        border: 0;
    }
}

@media (min-width:451px) and (max-width: 912px){
    .display .info .contact{
        /* background-color: crimson; */
        position: absolute;
        height: 85%;
        top: 8%;
        left: 2.5%;
        width: 95%;
    }

    .display .info .contact .contact-info{
        width: 100%;
        height: 30%;
        top:0;
    }

    .display .info .contact .contact-form{
        width: 100%;
        height: 70%;
        top: 30%;
    }
}